<?xml version='1.0' encoding='utf-8'?>
<widget
        id="cook.today.gx3studios"
        version="1.1.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CookToday</name>
    <description>
        App para decidir que comer hoy
    </description>
    <author email="EMAIL" href="gx3studios@gmail.com">
   
    </author>
 
    <content src="index.html" />
    <access origin="*"/>

    <icon src="images/android-desktop-beta.png"/>
    
  
    <preference name="Fullscreen" value="false" />
    <preference name="phonegap-version" value="cli-9.0.0" /> <!-- Phonegap Build only -->

    <plugin name="cordova-plugin-whitelist" version="*" />
    <plugin name="cordova-custom-config" version="*" />
    <plugin name="cordova-plugin-splashscreen" version ="5.0.3" />
    

    <!--<plugin spec="https://github.com/dpa99c/cordova-diagnostic-plugin.git#dev" source="git" />-->
    <platform name="android">
        <preference name="Fullscreen" value="false" />    
        <!-- <splash src="splash.png" />    -->
        <preference name="SplashMaintainAspectRatio" value="false"/>
        <splash src="images/ldpi.png" density="port-ldpi" />
        <splash src="images/mdpi.png" density="port-mdpi" />
        <splash src="images/hdpi.png" density="port-hdpi" />
        <splash src="images/xhdpi.png" density="port-xhdpi" />>
        <splash src="images/portrait-xxhdpi.png" density="port-xxhdpi" />
        <splash src="images/landscape-xxhdpi.png" density="land-xxhdpi" />
        <splash src="images/xxxhdpi.png" density="xxxhdpi" />      
        <plugin name="cordova-plugin-file" version="*" />

        <preference name="android-build-tool" value="gradle" /> <!-- Phonegap Build only -->

        <preference name="android-minSdkVersion" value="19" />
        <preference name="android-targetSdkVersion" value="29" />

        <config-file target="AndroidManifest.xml" parent="/*">
        </config-file>
    </platform> 
    
    <preference name="SplashScreenDelay" value="3000" />  
    <preference name="FadeSplashScreen" value="false" />    
    <preference name="ShowSplashScreenSpinner" value="false" />    
</widget>
